# Node & SvelteKit
node_modules/
.svelte-kit/
pnpm-lock.yaml
package-lock.json

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Build / output folders
build/
dist/
frontend/node_modules/
frontend/.svelte-kit/
frontend/build/
frontend/dist/

# OS files
.DS_Store
Thumbs.db